@font-face {
  font-family: 'Poppins';
  src: url(../pruebas/fonts/Poppins-Regular.ttf) format('truetype');
}

h1{
  font-family: 'Poppins', sans-serif;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

#formulario {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  
}

form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(4,1fr);
}

input{
  margin-bottom: 15px;
}